body { background-color:#ffffff; font-family:"Helvetica"; }
#public_load { position:absolute; z-index:9000; width:100%; height:100%; background-color:#333333; opacity:0.6; filter:alpha(opacity=60); top:0; left:0;  }
#public_load_wait { display:block; position:absolute; top:49%; left:49%; }
.public_wrapper { background-color:#454545; }
.public_body_wrapper {
	width:auto;
	height:auto;
	min-height:590px;
	background-color:#ffffff;
	margin-left:50px;
	margin-right:50px;
	margin-top:1px;
	font:Arial;
	position:relative;
}
.public_userbar {
	position:absolute;
	top:5px;
	right:55px;
	font-family:Arial;
	font-size:10px;
}
.public_userbar a { text-decoration:none;  }
public_clear {
	clear:all;
	display: none;
}
.public_header {
	height: 73px;
	margin-left:50px;
	margin-right:50px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #acacac) );
	background:-moz-linear-gradient( center top, #eeeeee 5%, #acacac 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#acacac);
	position:relative;
}
.public_title {
	padding:10px;
	font-family:Helvetica;
	font-size:24px;
}
.public_header_nav {
	width: 100%;
	position: absolute;
	margin:0px;
	padding:0px;
	bottom:0px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
	background-color:#979797;
	border-top:1px solid #454545;
}
.public_selection {
	width:65px;
	padding:2px;
	float:left;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
	border-left:1px solid #454545;
	border-right:1px solid #979797;
	background-color:#979797;
	text-align:center;
}
.selected {
	padding:2px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #979797) );
	background:-moz-linear-gradient( center top, #454545 5%, #979797 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#454545, endColorstr=#979797);
	background-color:#979797;
}
.public_selection_end {
	height:25px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
}
.public_selection a { 
	text-decoration:none;
	font-family:Helvetica;
	font-size:11px;
	color:#ffffff;
	cursor: pointer; 
}
.public_selection:hover {
	padding:2px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #979797) );
	background:-moz-linear-gradient( center top, #454545 5%, #979797 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#454545, endColorstr=#979797);
	background-color:#979797;
}
.sub_nav_wrapper {
	width:100%;
	height:19px;
	margin:0px;
	padding:0px;
	top:0px;
	background-color:#454545;
	position:absolute;
}
.sub_nav_button {
	width:65px;
	height:15px;
	padding:0px;
	float:left;
	background-color:#454545;
	text-align:center;
}
.sub_nav_button a { 
	text-decoration:none;
	font-family:Helvetica;
	font-size:9px;
	color:#ffffff;
	cursor: pointer; 
}
.sub_nav_selected a {
	color:#FFFBC4;
	text-decoration:underline;
}
.head_filter, .head_display_num{ padding:2px; font-size: 11px; }
.page_navigation a, .alt_page_navigation a{
	padding:2px 3px;
	margin:1px;
	text-decoration:none;
	float: left;
	font-family: Arial;
	font-size: 12px;
	color: #347ca8;
}
div.public_cp_wrapper .page_navigation {
	padding-bottom: 10px;
	display:inline-block;
}
.page_navigation , .alt_page_navigation {
	display: inline-block;
	float:left;
}
.info_text{
	display: inline-block;
    font-size: 11px;
    padding: 5px;
	float:left;
}
.public_cp_wrapper { width:450px; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_12 { width:12%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_25 { width:25%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_37 { width:37%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_50 { width:50%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_62 { width:62%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_75 { width:75%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_87 { width:87%; height:25px; text-align:right; background-color:#dddddd; }
.public_cp_wrapper_100 { width:100%; height:25px; text-align:right; background-color:#dddddd; }
.public_record_count {
	width:320px;
	min-height:75px;
	display: block;
}
.public_cp_fieldset {
	width:320px;
	display:inline-block;
	font-family:Helvetica;
	font-size:12px;
}
.public_cp_legend {
	
}
.public_home_wrapper {}
.public_footer {
	height: 25px;
	margin-left:50px;
	margin-right:50px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #acacac), color-stop(1, #eeeeee) );
	background:-moz-linear-gradient( center top, #acacac 5%, #eeeeee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#acacac, endColorstr=#eeeeee);
}
.user_wrapper {  }
.user_inner {  }
.user_login_footnote { font-family:Arial; font-size:9px !important; font-style:italic; margin-top:0px; }
/* Table styles */
.public_table { font-size:12px; border:0; }
.public_table_12 { width:12%; font-size:12px; border:0; }
.public_table_25 { width:25%; font-size:12px; border:0; }
.public_table_37 { width:37%; font-size:12px; border:0; }
.public_table_50 { width:50%; font-size:12px; border:0; }
.public_table_62 { width:62%; font-size:12px; border:0; }
.public_table_75 { width:75%; font-size:12px; border:0; }
.public_table_87 { width:87%; font-size:12px; border:0; }
.public_table_100 { width:100%; font-size:12px; border:0; }
.public_table_head_row, .public_table_head_filter, .public_table_foot_row {
	background-color:#343735; color:#ffffff;
}
.public_table_head_filter { padding:2px; }
.public_table_head_cell, .public_table_foot_cell { padding:2px; text-align:left; }
.public_table_row {  }
.public_table_row_sub1, .public_table_row_sub2 {  }
.public_table_cell { padding:2px; position:relative; }
.public_table_cell a { text-decoration:none; }
.form_text { background:#ffffff; }
.form_text_50 { width:50px; background:#ffffff; }
.form_text_75 { width:75px; background:#ffffff; }
.form_check {  }
td.label { width:75px; font-weight:bold; text-align:right; }
td.field { width:325px; text-align:left; }
.cp_back, .cp_home { font-size:11px; padding: 5px; display:inline-block; cursor: pointer; float: left; }
.public_cp_paging { font-size:11px; padding: 5px; display:inline-block; }
.page_previous, .page_next, .page_number { cursor:pointer; }
.cp_back_link { text-decoration:none; }
.op_select, .public_action_form_go { display:inline-block; }
.public_table_select {  }
/* add-on styles */
.odd { background-color:#eeeeee; }
.even { background-color:#acacac; }
.centered { text-align:center; }
.lefted { text-align:left; }
.righted { text-align:right; }
.stdwww{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9000; background-color:#333333; opacity:0.6; filter:alpha(opacity=60);background-image:url(../images/spinner.gif); background-repeat:no-repeat; background-position:center; }
.gone { display:none; }
.row_toggle { cursor:pointer; }
.roll { background-color: #faf7aa; }
/* widths */
.12_percent { width:12%; }
.25_percent { width:25%; }
.37_percent { width:37%; }
.50_percent { width:50%; }
.62_percent { width:62%; }
.75_percent { width:75%; }
.87_percent { width:87%; }
.100_percent { width:100%; }
.400_wide { width:400px !important; }
.300_wide { width:300px !important; }
.200_wide { width:200px !important; }
.100_wide { width:100px !important; }
.50_wide { width:50px !important; }
.25_wide { width:25px !important; }
.page_selected { font-weight:bolder; color:#ffffff; background-color: #000000; }
