html, body { height: 100% !important; }
body { 
	top:0px; left:0px; margin:0px; 
	background-color:#454545; 
	font: Arial;
	}
#admin_load { position:absolute; z-index:9000; width:100%; height:100%; background-color:#333333; opacity:0.6; filter:alpha(opacity=60); top:0; left:0;  }
#admin_load_wait { display:block; position:absolute; top:49%; left:49%; }
.admin_wrapper { background-color:#454545; }
.admin_body_wrapper {
	width:auto;
	height:auto;
	min-height:590px;
	background-color:#ffffff;
	margin-left:50px;
	margin-right:50px;
	margin-top:1px;
	font:Arial;
	position:relative;
	font-family:Helvetica,Arial;
	font-size:10pt;
}
.admin_userbar {
	position:absolute;
	top:5px;
	right:55px;
	font-family:Arial;
	font-size:10px;
}
.admin_userbar a { text-decoration:none;  }
admin_clear {
	clear: both;
	display: none;
}
.admin_header {
	height: 73px;
	margin-left:50px;
	margin-right:50px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #acacac) );
	background:-moz-linear-gradient( center top, #eeeeee 5%, #acacac 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#acacac);
	position:relative;
}
.admin_title {
	padding:10px;
	font-family:Helvetica;
	font-size:24px;
}
.admin_header_nav {
	width: 100%;
	position: absolute;
	margin:0px;
	padding:0px;
	bottom:0px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
	background-color:#979797;
	border-top:1px solid #454545;
}
.admin_selection {
	width:65px;
	padding:2px;
	float:left;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
	border-left:1px solid #454545;
	border-right:1px solid #979797;
	background-color:#979797;
	text-align:center;
}
div.admin_header_nav .selected {
	padding:2px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #979797) );
	background:-moz-linear-gradient( center top, #454545 5%, #979797 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#454545, endColorstr=#979797);
	background-color:#979797;
}
.admin_selection_end {
	height:25px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #979797 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#979797, endColorstr=#454545);
}
.admin_selection a, .admin_selection a:link, .admin_selection a:visited { 
	text-decoration:none;
	font-family:Helvetica;
	font-size:11px;
	color:#ffffff;
	cursor: pointer; 
}
.admin_selection:hover {
	padding:2px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #979797) );
	background:-moz-linear-gradient( center top, #454545 5%, #979797 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#454545, endColorstr=#979797);
	background-color:#979797;
}
.sub_nav_wrapper {
	width:100%;
	height:19px;
	margin:0px;
	padding:0px;
	top:0px;
	background-color:#454545;
	position:absolute;
}
.sub_nav_button {
	width:65px;
	height:15px;
	padding:0px;
	float:left;
	background-color:#454545;
	text-align:center;
}
.sub_nav_button a { 
	text-decoration:none;
	font-family:Helvetica;
	font-size:9px;
	color:#ffffff;
	cursor: pointer; 
}
.sub_nav_selected a {
	color:#FFFBC4;
	text-decoration:underline;
}
.head_filter, .head_display_num{ padding:2px; font-size: 11px; }
.page_navigation a, .alt_page_navigation a{
	padding:2px 3px;
	margin:1px;
	text-decoration:none;
	float: left;
	font-family: Arial;
	font-size: 12px;
	color: #347ca8;
}
div.admin_cp_wrapper .page_navigation {
	padding-bottom: 10px;
	display:inline-block;
}
.page_navigation , .alt_page_navigation {
	display: inline-block;
	float:left;
}
.info_text{
	display: inline-block;
    font-size: 11px;
    padding: 5px;
	float:left;
}
.admin_cp_wrapper { width:450px; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_12 { width:12%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_25 { width:25%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_37 { width:37%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_50 { width:50%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_62 { width:62%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_75 { width:75%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_87 { width:87%; height:25px; text-align:right; background-color:#dddddd; }
.admin_cp_wrapper_100 { width:100%; height:25px; text-align:right; background-color:#dddddd; }
.admin_record_count {
	width:400px;
	min-height:75px;
	display: block;
}
.admin_cp_fieldset {
	width:400px;
	display:inline-block;
	font-family:Helvetica;
	font-size:12px;
}
.admin_cp_legend {
	
}
.admin_home_wrapper {}
.admin_footer {
	height: 25px;
	margin-left:50px;
	margin-right:50px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #acacac), color-stop(1, #eeeeee) );
	background:-moz-linear-gradient( center top, #acacac 5%, #eeeeee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#acacac, endColorstr=#eeeeee);
}
.user_wrapper {  }
.user_inner {  }
.user_login_footnote { font-family:Arial; font-size:9px !important; font-style:italic; margin-top:0px; }
/* Table styles */
.admin_table { font-size:12px; border:0; }
.admin_table_12 { width:12%; font-size:12px; border:0; }
.admin_table_25 { width:25%; font-size:12px; border:0; }
.admin_table_37 { width:37%; font-size:12px; border:0; }
.admin_table_50 { width:50%; font-size:12px; border:0; }
.admin_table_62 { width:62%; font-size:12px; border:0; }
.admin_table_75 { width:75%; font-size:12px; border:0; }
.admin_table_87 { width:87%; font-size:12px; border:0; }
.admin_table_100 { width:100%; font-size:12px; border:0; }
.admin_table_head_row, .admin_table_head_filter, .admin_table_foot_row {
	background-color:#343735; color:#ffffff;
}
.admin_table_head_filter { padding:2px; }
.admin_table_head_cell, .admin_table_foot_cell { padding:2px; text-align:left; }
.admin_table_row {  }
.admin_table_row_sub1, .admin_table_row_sub2 {  }
.admin_table_cell { padding:2px; position:relative; }
.admin_table_cell a { text-decoration:none; }
.form_text { background:#ffffff; }
.form_text_50 { width:50px; background:#ffffff; }
.form_text_75 { width:75px; background:#ffffff; }
.form_check {  }
td.label { width:75px; font-weight:bold; text-align:right; }
td.field { width:325px; text-align:left; }
.cp_back, .cp_home { font-size:11px; padding: 5px; display:inline-block; cursor: pointer; float: left; }
.admin_cp_paging { font-size:11px; padding: 5px; display:inline-block; }
.page_previous, .page_next, .page_number { cursor:pointer; }
.cp_back_link { text-decoration:none; }
.op_select, .admin_action_form_go { display:inline-block; }
.admin_table_select {  }
/* add-on styles */
.odd { background-color:#eeeeee; }
.even { background-color:#acacac; }
.centered { text-align:center; }
.lefted { text-align:left; }
.righted { text-align:right; }
.stdwww{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9000; background-color:#333333; opacity:0.6; filter:alpha(opacity=60);background-image:url(../images/spinner.gif); background-repeat:no-repeat; background-position:center; }
.stdwww_field{ display:inline-block; background-image:url(../images/waiting.gif) !important; background-repeat:no-repeat; background-position:center; width:30px; height:13px; vertical-align:middle; }
.gone { display:none; }
.row_toggle { cursor:pointer; }
.roll { background-color: #faf7aa; }
/* widths */
.12_percent { width:12% !important; }
.25_percent { width:25% !important; }
.37_percent { width:37% !important; }
.50_percent { width:50% !important; }
.62_percent { width:62% !important; }
.75_percent { width:75% !important; }
.87_percent { width:87% !important; }
.100_percent { width:100%; }
.400_wide { width:400px !important; }
.300_wide { width:300px !important; }
.200_wide { width:200px !important; }
.100_wide { width:100px !important; }
.50_wide { width:50px !important; }
.25_wide { width:25px !important; }
.page_selected { font-weight:bolder; color:#ffffff; background-color: #000000; }
.admin_content_wrapper_outter{
    font-family: helvetica;
    font-size: 14px;
    padding: 10px;
    position: relative;
    width: 260px;
}
.admin_content_wrapper_inner{
	background-color: #efefef;
	border:1px solid #dddddd;
	padding:5px;
}
.admin_content_wrapper_container{}
.admin_block_item_wrapper_outter{
	padding-top:2px;
	padding-right:0px;
	padding-bottom:3px;
	padding-left:10px;
}
.admin_block_item_wrapper_inner{}
.admin_block_item_wrapper_container{}
.admin_block_item_wrapper_container a{
	text-decoration:none;
	font-weight: bold;
}
.admin_list_outter_wrapper_100{ clear: both; position: relative; width:100%; font-family:Helvetica; font-size:12px; }
.admin_list_outter_wrapper_75{ clear: both; position: relative; width:75%; font-family:Helvetica; font-size:12px; }
.admin_list_outter_wrapper_50{ clear: both; position: relative; width:50%; font-family:Helvetica; font-size:12px; }
.admin_list_outter_wrapper_25{ clear: both; position: relative; width:25%; font-family:Helvetica; font-size:12px; }
.admin_list_inner_wrapper{  }
.admin_list_container_head_item{ font-family:Helvetica; font-size:12px; font-weight:bold; }
.admin_list_container_item{ font-family:Helvetica; font-size:12px; }
.ui-state-highlight { height: 2.8em; line-height: 1.5em; }
/* JQuery UI override */
.ui-widget{ font-size:10pt !important; }