body{  }
.nav_controls{ position:absolute; top:1052px; width:1920px; text-align:center; }
.nav_button{ width:120px; height:25px; font-family:"Helvetica"; font-weight:bolder; display: inline-block; border:1px solid #999999; background-color:#e2e2e2; }
.nav_selected{ background-color:#ffffff; }
.nav_refresh_data{ position:absolute; bottom:10px; right:20px; width:30px; height:30px; background-image:url(../images/refresh_small.png); background-repeat:no-repeat; }
.nav_refresh_data_thinking{ position:absolute; bottom:10px; right:20px; width:30px; height:30px; background-image:url(../images/spinner.gif); background-repeat:no-repeat; }

.map_page_wrapper_outter, 
.map_page_wrapper_outter-president, 
.map_page_wrapper_outter-governor, 
.map_page_wrapper_outter-senate{ position:absolute; top:0; left:0; margin:0; padding:0; width:1920px; height:1080px; background-image:url(../images/election_map_bg.jpg); background-repeat:no-repeat; }
.map_page_wrapper_inner, .map_page_wrapper_inner-president, .map_page_wrapper_inner-governor, .map_page_wrapper_inner-senate{ position:relative; margin:0; padding:0; width:100%; height:100%; overflow:hidden;  }
.map_page_wrapper_outter_full{ position:absolute; top:0; left:0; margin:0; padding:0; width:1920px; height:1080px; }
.map_page_wrapper_inner, .map_page_wrapper_inner-president, .map_page_wrapper_inner-governor, .map_page_wrapper_inner-senate{ position:relative; margin:0; padding:0; width:100%; height:100%; overflow:hidden;  }
.map_container{  }
.map_frame{ position:absolute; top:70px; right:950px; margin:0; padding:0; overflow:hidden; width:700px; }
.map_frame_full{ position:absolute; top:170px; right:950px; margin:0; padding:0; overflow:hidden; width:800px; }
.map_info{ background-color:#aaaaaa; display:block; float:left; width:180px; min-height:80px;padding:10px; }
.map_county_list{ background-color:#bfbfbf; display:block; float:left; width:200px; min-height:100px; }
.map_county_table{  }
.map_county_row{  }
.map_county_cell{ vertical-align:top; }
.map_county_cell_list{  }
.mapli{ font-size:9px; color:#333333; text-decoration:none; }
.map_clear{ clear:both; }

.race_info, race_info-president, race_info-governor{ position:absolute; top:80px; left:1000px; width:689px; height:850px; }
.race_info_full{ position:absolute; top:80px; left:1000px; width:689px; height:850px; }
.info_default{ width:689px; height:850px; text-align:center; background-image:url(../images/election_logo_yourvote.png) !important; background-repeat:no-repeat; background-position:center;  }.info_default{ width:689px; height:850px; text-align:center; background-image:url(../images/election_logo_yourvote.png) !important; background-repeat:no-repeat; background-position:center;  }
.info_default_full{ width:689px; height:850px; text-align:center; }
.info_1can{ background-image:url(../images/election_info_bg_1can.jpg) !important; background-repeat:no-repeat; }
.info_2can{ background-image:url(../images/election_info_bg_2can.jpg) !important; background-repeat:no-repeat; }
/* Info elements */
.race_wrapper{ position:relative; width:689px; height:840px; overflow:hidden; }
.race_info_wrapper{ position:relative; margin-top:18px; padding:0px; width:685px; height:132px; }
.candidate_wrapper{ position:relative; margin:0px; padding:0px; width:685px; height:327px; }
/* Items */
.item_county{ position:absolute; top:-5px; left:0px; font-family:"Helvetica"; font-size:50px; color:#ffffff; width:685px; text-align:center; }
.item_title{ position:absolute; top:65px; left:0px; font-family:"Helvetica"; font-size:30px; color:#ffffff; width:685px; text-align:center; }
.item_race_percent{ position:absolute; bottom:-5px; font-family:"Helvetica"; font-size:40px; color:#000000; width:685px; text-align:center; }
.item_total_percent{ position:absolute; top:80px; font-family:"Helvetica"; font-size:50px; color:#ffffff; width:685px; text-align:center; }
.item_name{ position:absolute; top:20px; font-family:"Helvetica"; font-size:50px; color:#000000; width:685px; text-align:center; }
.item_party{ position:absolute; top:150px; font-family:"Helvetica"; font-size:50px; color:#ffffff; width:685px; text-align:center; }
.item_candidate_percent{ position:absolute; top:120px; font-family:"Helvetica"; font-size:100px; color:#ffffff; width:685px; text-align:center; }
/* Specials */
.no_show{ visibility:hidden; }
.colorDem, .colorD{ background-color:#0036d0; }
.colorGOP, .colorR{ background-color:#c01720; }
.colorLib, .colorL{ background-color:#580158; }
.gone{ display:none; }
.selectable{ }
.stdwww{ position:absolute; top:80px; left:1000px; width:689px; height:850px; z-index:9000; background-color:#333333; opacity:0.6; filter:alpha(opacity=60);background-image:url(../images/spinner.gif); background-repeat:no-repeat; background-position:center; }

/* EXTERNALS */
.ext_map_page_wrapper_outter{ position:absolute; top:0; left:0; margin:0; padding:0; width:1920px; height:1080px; }
.ext_map_page_wrapper_poutter{ position:absolute; top:0; left:0; margin:0; padding:0; width:658px; height:330px; }
.ext_map_page_wrapper_inner{ position:relative; margin:0; padding:0; width:100%; height:100%; overflow:hidden;  }
.ext_map_container{  }
.ext_map_frame{ position:absolute; top:5px; left:5px; margin:0; padding:0; overflow:hidden; width:318px; }
.ext_map_frame_full{ position:absolute; top:0px; left:0px; margin:0; padding:0; overflow:hidden; width:800px; }
.ext_map_info{ background-color:#aaaaaa; display:block; float:left; width:180px; min-height:80px;padding:10px; }
.ext_map_county_list{ background-color:#bfbfbf; display:block; float:left; width:200px; min-height:100px; }
.ext_map_county_table{  }
.ext_map_county_row{  }
.ext_map_county_cell{ vertical-align:top; }
.ext_map_county_cell_list{  }
.ext_mapli{ font-size:9px; color:#333333; text-decoration:none; cursor:pointer; }
.ext_map_clear{ clear:both; }

.ext_race_info{ position:absolute; top:0px; left:325px; width:220px; height:193px; }
.ext_race_info_full{ position:absolute; top:25px; left:400px; width:220px; height:260px; }
.ext_info_default{ background-image:url(../images/select_state.png) !important; background-repeat:no-repeat; }
.ext_state_info_default{ background-image:url(../images/select_county.png) !important; background-repeat:no-repeat; }
.ext_info_1can{  }
.ext_info_2can{  }
/* Info elements */
.ext_race_wrapper{ position:relative; width:220px; height:260px; overflow:hidden; color:#ffffff; }
.ext_race_info_wrapper{ position:relative; margin-top:5px; padding:0px; width:220px; height:45px; background-color:#000000; }
.ext_candidate_wrapper{ position:relative; margin:0px; padding:0px; width:220px; height:60px; }
/* Items */
.ext_item_county{ position:absolute; top:3px; left:0px; font-family:"Helvetica"; font-size:24px; color:#ffffff; width:220px; text-align:center; }
.ext_item_title{ position:absolute; top:25px; left:0px; font-family:"Helvetica"; font-size:14px; color:#ffffff; width:220px; text-align:center; }
.ext_item_race_percent{ position:absolute; top:170px; font-family:"Helvetica"; font-size:18px; color:#ffffff; background-color:#000000; width:220px; text-align:center; }
.ext_item_total_percent{ position:absolute; top:24px; font-family:"Helvetica"; font-size:18px; color:#000000; width:220px; text-align:center; }
.ext_item_name{ position:absolute; top:5px; font-family:"Helvetica"; font-size:18px; color:#ffffff; width:220px; text-align:center; }
.ext_item_party{ position:absolute; top:18px; font-family:"Helvetica"; font-size:18px; color:#000000; width:220px; text-align:center; }
.ext_item_candidate_percent{ position:absolute; top:25px; font-family:"Helvetica"; font-size:30px; color:#ffffff; width:220px; text-align:center; }
/* Specials */
.ext_no_show{ visibility:hidden; }
.ext_gone{ display:none; }
.colorDem, .colorD{ background-color:#0036d0; }
.colorGOP, .colorR{ background-color:#c01720; }
.colorLib, .colorL{ background-color:#580158; }
.ext_selectable{ cursor:pointer; }
.ext_data_source_attribution{ font-family:"Helvetica"; font-size:12px; position:absolute; top:220px; left:480px; }

/* Slider Styles */
.slider_wrapper{ position:absolute; width:650px; top:250px; left:10px; }
.bar { position: relative; width: 99%; height: 25px; border: 1px solid #ccc; color: white; margin-top: 10px;}
.dem { position: absolute; left: 0; top: 0; bottom: 0;  padding-top: 4px; background: #0036D0; text-align:right; font-family:"Helvetica"; 
background-image: linear-gradient(top, #2655D7 6%, #0037D0 68%);
background-image: -o-linear-gradient(top, #2655D7 6%, #0037D0 68%);
background-image: -moz-linear-gradient(top, #2655D7 6%, #0037D0 68%);
background-image: -webkit-linear-gradient(top, #2655D7 6%, #0037D0 68%);
background-image: -ms-linear-gradient(top, #2655D7 6%, #0037D0 68%);
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.06, #2655D7),
	color-stop(0.68, #0037D0)
);
border-right: 2px #333 solid;

}
.rep { position: absolute; right: 0; top: 0; bottom: 0; padding-top: 4px; background: #C01720; 
background-image: linear-gradient(top, #C62F37 6%, #C01720 68%);
background-image: -o-linear-gradient(top, #C62F37 6%, #C01720 68%);
background-image: -moz-linear-gradient(top, #C62F37 6%, #C01720 68%);
background-image: -webkit-linear-gradient(top, #C62F37 6%, #C01720 68%);
background-image: -ms-linear-gradient(top, #C62F37 6%, #C01720 68%);
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.06, #C62F37),
	color-stop(0.68, #C01720)
);
border-left: 2px #333 solid;
}
.candidate_left{ font-family:"Helvetica"; font-size:18px; font-weight:bold; float:left; padding-top:5px; }
.candidate_right{ font-family:"Helvetica"; font-size:18px; font-weight:bold; float:right; padding-top:5px; }
